<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41595062808-0f0ugbonjvfbnnbtnapoagagdhcsn506.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41595062808-0f0ugbonjvfbnnbtnapoagagdhcsn506</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>41595062808-c9eh3klb3narhfjdgve4ljg4e3o6590k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApjD8ngNDnWHPl4GDeOGeOkII8ruH9Ti4</string>
	<key>GCM_SENDER_ID</key>
	<string>41595062808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.empanatica.proyectoempanatica</string>
	<key>PROJECT_ID</key>
	<string>enpanatica23</string>
	<key>STORAGE_BUCKET</key>
	<string>enpanatica23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41595062808:ios:c93f28bf378b647096d16d</string>
</dict>
</plist>